@model EmpresaTajAzure.Models.UsuarioEmpresaConNombre

@{
    ViewData["Title"] = "Details";
}

<div class="bg-white overflow-hidden shadow rounded-lg border mt-4">
    <div class="px-1 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </h3>

    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Nombre
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    @Html.DisplayFor(model => model.Usuario.Nombre)
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Correo
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    @Html.DisplayFor(model => model.Usuario.Email)
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Linkedin
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    @Html.DisplayFor(model => model.Usuario.Linkedin)
                </dd>
            </div>

        </dl>
    </div>
    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Sus empresas
        </h3>
    </div>
    <div class="border-t border-gray-200 px-0 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
            @if (Model.Empresas != null && Model.Empresas.Length > 0)
            {
                @for (int i = 0; i < Model.Empresas.Length; i++)
                {
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Empresa @(i + 1)
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            @Model.Empresas[i]
                        </dd>
                    </div>
                }
            }
            else
            {
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        No hay empresas asociadas.
                    </dt>
                </div>
            }
        </dl>
    </div>
</div>